header{
background:#2c3e50;
color:#FFF;	
}

.main{
background:#A4A4A4;	
}

aside{
background:#E58E8F;
color:#45292A;
}


.cor{
background:#0B1C4A;
color:#FFFFFF;	
}

.cor2{
background:#0F6E60;
color:#FFFFFF;	
}


footer{
background:#371708;
color:#FFFFFF;		
}
